main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: rgb(20,20,32);
  }
  
  .landing-section{
    width: 100%;
    height: 100vh;
    max-height: 900px;
    min-height: 100px;
  }


  
  .intro-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 1.5rem;
    padding: 1rem;
  }
  .text-landing{
     font-size: 48px; 
     display: flex;
    justify-content: center;
    align-items: center;
  }

  .span {
    font-size: 92px;
    margin: 0 2rem;
    background: linear-gradient(to right, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241));
    background-clip: text; 
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .challenge{
    font-size: 48px;
    margin-top: -20px;
  } 

  .para-text{
    width:100%;
    max-width: 500px;
    line-height: 32px;
    color: rgb(166, 167, 168);
  }

  .para-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button{
    position: relative;
    top: 3rem;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(81,66,252);
    border-radius: 10px;
    color: #fff;
    transition: all ease-out 0.3s;
  }

  .button:hover {
    transform: scale(2);
    background-color: transparent;
    border: 2px solid #fff; 
    transition: all ease-out 0.3s;
  
}

@media (width < 825px) {
    span {
        font-size: 82px;
      }

      .text-landing{
        font-size: 48px; 
        display: block;
     }
   
}
